@import '../../assets/colors.scss';

.opportunities {
  padding: 19.5rem;

  @media screen and (max-width: 1300px) {
    padding: 7rem;
  }

  &.wrapper {
    @media screen and (max-width: 500px) {
      padding: 7rem 0rem;
    }
  }

  .opp-container {
    background: $opp-background;
    border-radius: 20px;
    padding: 13rem 31.5rem;
    position: relative;
    z-index: 1;

    @media (max-width:1024px) {
      padding: 4rem 3rem 13rem;
    }

    .opp-ball {
      position: absolute;

      &:first-of-type {
        left: 15%;

        @media (max-width: 1024px) {
          width: 2rem;
          left: 5%;
          top: 5%;
        }
      }

      &:nth-of-type(2) {
        bottom: 93%;
        right: 10%;

        @media (max-width: 1024px) {
          width: 8.7rem;
          bottom: 95%;
          right: -10%;
        }
      }

      &:last-of-type {
        bottom: 10%;
        right: 13%;
        filter: blur(12px);

        @media (max-width: 1024px) {
          width: 6.2rem;
          bottom: 0;
        }
      }
    }

    .opp-shadow {
      width: 440.008px;
      height: 440.008px;
      transform: rotate(11.969deg);

      &:first-of-type {
        top: 0;
        right: 0;
      }

      &:last-of-type {
        left: 0;
        bottom: 0;
      }
    }
  }


  &__title {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 6.5rem;

    @media (max-width: 500px) {
      margin-bottom: 3rem;
      font-size: 2.3rem
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
}