$primary: #1D2532;
$btn-prim: linear-gradient(141deg, #1DD844 0%, #CBF62E 100%);
$btn-disable: rgba(36, 36, 36, 0.50);
$btn-sec: transparent;
$btn-sec-active: #C3F33B;
$text-prim: #FFF;
$text-sec: #CECECE;
$shadow: linear-gradient(171deg, rgba(95, 56, 255, 0.35) 0%, rgba(255, 14, 222, 0.35) 100%);
$card: rgb(51, 62, 81);
$opp-background: linear-gradient(203deg, #323E51 0%, #1D2532 100%);

